@media (max-width: 600px) {
  .form-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
  }

  .form-container input[type="text"],
  .form-container button {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .form-container button[type="submit"] {
    font-size: 14px;
  }
}
